* {
	margin: 0;
	padding-top: 0;
	overflow: hidden;
	cursor: none;
}

html, body{
	overflow: hidden;
	font-size: 14px;
}

::selection {
	background-color: transparent;
}

#nave {
	width: 50px;
	height: 50px;
	background-color: #CCC;
	position: absolute;
	bottom: 50px;

}


#nave2 {
	width: 50px;
	height: 50px;
	background-color: #CCC;
	position: absolute;
	right: 50px;

}

.tiro {
	position: absolute;
	z-index: 9;
	width: 5px;
	height: 5px;
	background-color: #000;
}


.tiroB {
	position: absolute;
	z-index: 9;
	width: 5px;
	height: 5px;
	background-color: #000;
}


.alvos {
	position: absolute;
	top: -100px;
	width: 50px;
	height: 50px;
	background-color: #CCC;
}